.MainLayout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 15% 77% 3%;
  grid-template-columns: repeat(6, 1fr);
}

.MainLayout > header,
.MainLayout > footer,
.MainLayout > main {
  grid-column: span 6;
}
